# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary

# Source code
*.css text
*.html text
*.js text
*.json text
*.jsx text
*.ts text
*.tsx text
*.xml text
*.yaml text
*.yml text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore 